@model HomeNow.ViewModels.LoginPhoneViewModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đăng nhập (debug view)</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.LoginName, "Email / Số điện thoại")
        @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LoginName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Mật khẩu")
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, "Ghi nhớ đăng nhập")
    </div>

    <button type="submit" class="btn btn-primary">
        Đăng nhập
    </button>
}
